.hero {
    min-height: calc(100vh - 96.5px);
    background: url("/images/hero-bcg.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    &__banner {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        display: inline-block;
        padding: 2rem 4rem;
    }

    &__banner-title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: $mainSpacing;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}